.todolist__done{
    background-color: rgba(#fff, .2);
    border: 4px solid $background_primary;
    border-radius: 25px;
    width: 20%;
    height: 50px;
    color: $background_primary;
    font-size: $font-size_l;
    font-family: $font-family_primary;
    font-weight: 600;
    cursor: pointer;
    transition: transform .5s;
    //transform: scale(-1, 1);
    //position: relative;
    padding-right: 10px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    overflow: hidden;

    &::after{
        position: absolute;
        content: '';
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 10px;
        width: 10px;
        background: rgba($background_primary, .2);
        border-radius: 50%;
        transition: transform .5s;
    }


    &:hover{
        
        &::after{
            transform: scale3d(30,30,30);
        }

        .todolist__done-text::before{
            color: rgba($font-color_primary, 1);
        }
    }

    .todolist__done-left-biceps{
        display: inline-block;
        z-index: 1;
        transform: scale(0) rotate(0);
    }

    .todolist__done-text{
        color: rgba(#fff, 0);
        z-index: 1;

        &::before{
            content: 'Zrobione';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgba($background_primary, 1);
            transition: color .7s;
            
        }
    }

    .todolist__done-right-biceps{
        display: inline-block;
        z-index: 1;
        transform: scale(-0.00001, -0.00001) rotate(0);
    }

    .biceps-right-over{
        animation-name: biceps-animation-right-in;
        animation-duration: .8s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }

    .biceps-right-out{
        animation-name: biceps-animation-right-out;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }

    .biceps-left-over{
        animation-name: biceps-animation-left-in;
        animation-duration: .8s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }

    .biceps-left-out{
        animation-name: biceps-animation-left-out;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }
}

@keyframes biceps-animation-left-in{
    0%{
        transform: scale(0) rotate(0);
    }
    80%{
        transform: scale(1.2) rotate(0);
    }
    100%{
        transform: scale(1.2) rotate(-25deg);
    }
}

@keyframes biceps-animation-left-out{
    0%{
        transform: scale(1.2) rotate(-25deg);
    }
    100%{
        transform: scale(0) rotate(0);
    }
}

@keyframes biceps-animation-right-in{
    0%{
        transform: scale(0) rotate(0);
    }
    80%{
        transform: scale(-1.2, 1.2) rotate(0);
    }
    100%{
        transform: scale(-1.2, 1.2) rotate(-25deg);
    }
}

@keyframes biceps-animation-right-out{
    0%{
        transform: scale(-1.2, 1.2) rotate(-25deg);
    }
    100%{
        transform: scale(-0.00001, -0.00001) rotate(0);
    }
}
