@import 'reset';
@import 'variables';
@import 'components/checkboxes/checkbox_done.scss';
@import 'components/checkboxes/checkbox_star.scss';
@import 'todolist/todolist';
@import 'components/bg-animation/bg-animation.scss';
@import 'components/buttons/btn-done.scss';