$background_primary: #68d391;
$background_secoundary: #94dbad;
$font-color_primary: #fff;
$font-color_secoundary: rgb(133, 130, 130);
$font-family_primary: 'Montserrat', sans-serif;
$font-family_secoundary: 'Roboto', sans-serif;
$font-size_xxl: 2rem;
$font-size_xl: 1.5rem;
$font-size_l: 1.1rem;
$font-size_m: 1rem;
$font-size_s: .9rem;
$font-size_xs: .7rem;
$font-size_xxs: .5rem;