.todolist__checkbox-done{
    position: relative;
    -webkit-appearance: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid $font-color_secoundary;
    outline: none;
    margin-left: 12px;
    margin-right: 18px;
    transition: transform .5s, border-radius .5s, background-color .5s;
    cursor: pointer;

    &::before{
        content: '';
        position: absolute;
        top: -16px;
        left: -20px;
        width: 40px;
        height: 40px;
    }

    &:checked{
        transform: rotate(-45deg);
        border-radius: 50%;
        border: none;
        background-color: $background_primary;

        &~ span{
            text-decoration: line-through;
        }

        &::after{
            opacity: 1;
        }

        &::before{
            transform: rotate(45deg);
            top: -20px;
            left: -18px;
        }
    }
}