$background_primary: #68d391;
$background_secoundary: #94dbad;
$font-color_primary: #fff;
$font-size_xxl: 2rem;
$font-size_xl: 1.5rem;
$font-size_l: 1.1rem;
$font-size_m: 1rem;
$font-size_s: .9rem;
$font-size_xxs: .5rem;


.todolist__header{
    width: 100%;
    height: 80px;
    background-color: $background_primary;
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.75);
    display: inline-block;
    margin-bottom: 10px;

    .todolist__clock{
        text-align: right;
        margin-right: 30px;
        margin-top: 10px;
        color: $font-color_primary;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }

    .todolist__title{
        color: $font-color_primary;
        font-size: 2rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
        line-height: 20px;
    }
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todolist__search-wrapper{
    background-color: $background_secoundary;
    width: 50%;
    height: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;

    &:hover{
        //box-shadow: 0 1px 2px 0 rgba(32,33,36,0.28);
    }

    .todolist__search-icon{
        color: $font-color_primary;
        margin-left: 20px;
        font-size: $font-size_l;
    }

    .todolist__search{
        color: $font-color_primary;
        outline: none;
        margin-left: 20px;
        margin-right: 50px;
        width: 100%;
        height: 80%;
        background-color: $background_secoundary;
        font-size: $font-size_l;
        font-family: 'Montserrat', sans-serif;

        &::placeholder{
            color: $font-color_primary;
        }

        &:focus{
            &::placeholder{
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

.todolist__add-task-wrapper{
    background-color: $background_primary;
    width: 40%;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;

    .todolist__add-task-icon{
        color: $font-color_primary;
        margin-left: 20px;
        font-size: $font-size_l;
    }

    .todolist__add-task{
        color: $font-color_primary;
        outline: none;
        margin-left: 10px;
        margin-right: 50px;
        width: 100%;
        height: 80%;
        background-color: $background_primary;
        font-size: $font-size_l;
        font-family: 'Montserrat', sans-serif;

        &:hover{
            //box-shadow: 0 1px 2px 0 rgba(32,33,36,0.28);
        }

        &::placeholder{
            color: $font-color_primary;
        }

        &:focus{
            &::placeholder{
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

.todolist{
    width: 40%;
    //max-height: 200px;

    .todolist__task{
        width: 100%;
        color: $font-color_primary;
        height: 40px;
        background-color: $background_primary;
        font-size: $font-size_m;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 3px;
        position: relative;
    }
}





