body{
    background: rgb(148,219,173);
    background: linear-gradient(120deg, rgba(148,219,173,1) 34%, rgba(248,226,166,1) 94%);
    height: 100vh;
}

.todolist__header{
    width: 100%;
    height: 80px;
    background-color: $background_primary;
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;

    .todolist__title{
        color: $font-color_primary;
        font-size: 2rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
        line-height: 80px;
    }
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todolist__search-wrapper{
    background-color: $background_primary;
    width: 50%;
    height: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;

    &:hover{
        //box-shadow: 0 1px 2px 0 rgba(32,33,36,0.28);
    }

    .todolist__search-icon{
        color: $font-color_primary;
        margin-left: 20px;
        font-size: $font-size_l;
    }

    .todolist__search{
        color: $font-color_primary;
        outline: none;
        margin-left: 20px;
        margin-right: 50px;
        width: 100%;
        height: 80%;
        background-color: $background_primary;
        font-size: $font-size_l;
        font-family: $font-family_primary;

        &::placeholder{
            color: $font-color_primary;
        }

        &:focus{
            &::placeholder{
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

.todolist__add-task-wrapper{
    background-color: $background_primary;
    width: 40%;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;

    .todolist__add-task-icon{
        color: $font-color_primary;
        margin-left: 20px;
        font-size: $font-size_m;
    }

    .todolist__add-task{
        color: $font-color_primary;
        outline: none;
        margin-left: 10px;
        margin-right: 50px;
        width: 100%;
        height: 80%;
        background-color: $background_primary;
        font-size: $font-size_m;
        font-family: $font-family_primary;

        &:hover{
            //box-shadow: 0 1px 2px 0 rgba(32,33,36,0.28);
        }

        &::placeholder{
            color: $font-color_primary;
        }

        &:focus{
            &::placeholder{
                opacity: 0;
                visibility: hidden;
            }

            &~ .todolist__add-task-icon{
                transform: rotate(360deg);
            }
        }
    }
}

.todolist{
    width: 40%;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #ebebeb;
    margin-bottom: 10px;

    .todolist__information{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        color: $font-color_secoundary;
        font-weight: 600;
        padding-top: 10px;
        font-family: $font-family_secoundary;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .todolist__current-time{
            font-size: $font-size_m;
            width: 50%;
        }

        .todolist__task-done-info{
            font-weight: 400;
            width: 50%;
            text-align: right;
            text-transform: uppercase;
        }

        .todolist__line-done-percentage{
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, $background_primary 0%, $background_primary 50%, #dadada 50%, #dadada 100%);
            margin-top: 10px;
        }
    }

    .todolist__task{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        color: $font-color_secoundary;
        height: 40px;
        background-color: #fff;
        font-size: $font-size_m;
        font-weight: 500;
        font-family: $font-family_primary;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2px;
        position: relative;
        border-bottom: 1px solid #ebebeb;

        &:last-child{
            border: none;
        }
    }
}

.todolist__show-more{
    background-color: $background_primary;
    border: none;
    border-radius: 5px;
    width: 10%;
    height: 20px;
    color: $font-color_primary;
    font-size: $font-size_xs;
    font-weight: 500;
    font-family: $font-family_primary;
    cursor: pointer;
    margin-bottom: 15px;
}

.todolist__done{
    background-color: $background_primary;
    border: none;
    border-radius: 25px;
    width: 20%;
    height: 50px;
    color: $font-color_primary;
    font-size: $font-size_l;
    font-family: $font-family_primary;
    cursor: pointer;
    transition: transform .5s;
}

.todolist__copywrite{
    font-size: $font-size_xs;
    color: $font-color_primary;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    font-family: $font-family_primary;

    a{
        color: $font-color_secoundary;  
    }
}





