body{
    margin-bottom: 150px;
}

.todolist__header{
    width: 100%;
    height: 80px;
    background-color: $background_primary;
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;

    .todolist__title{
        color: $font-color_primary;
        font-size: 2rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
        line-height: 80px;
    }
}

.todolist__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
}

.todolist__form-add-task, .todolist__form-search{
    width: inherit;
    display: flex;
    justify-content: center;
}

.todolist__search-wrapper{
    background-color: $background_primary;
    width: 50%;
    height: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 7px;
    position: relative;

    &:hover{
        //box-shadow: 0 1px 2px 0 rgba(32,33,36,0.28);
    }

    .todolist__search-icon{
        color: $font-color_primary;
        margin-left: 20px;
        font-size: $font-size_l;
    }

    .todolist__search{
        color: $font-color_primary;
        outline: none;
        margin-left: 20px;
        margin-right: 50px;
        width: 100%;
        height: 80%;
        background-color: $background_primary;
        font-size: $font-size_l;
        font-family: $font-family_primary;

        &::placeholder{
            color: $font-color_primary;
        }

        &:focus{
            &::placeholder{
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    .todolist__search-label{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50px;
    }
}

.todolist__add-task-wrapper{
    background-color: $background_primary;
    width: 40%;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 6px;
    position: relative;

    .todolist__add-task-icon{
        color: $font-color_primary;
        margin-left: 20px;
        font-size: $font-size_m;
    }

    .todolist__add-task{
        color: $font-color_primary;
        outline: none;
        margin-left: 10px;
        margin-right: 50px;
        width: 100%;
        height: 80%;
        background-color: $background_primary;
        font-size: $font-size_m;
        font-family: $font-family_primary;

        &:hover{
            //box-shadow: 0 1px 2px 0 rgba(32,33,36,0.28);
        }

        &::placeholder{
            color: $font-color_primary;
        }

        &:focus{
            &::placeholder{
                opacity: 0;
                visibility: hidden;
            }

            & ~ .todolist__add-task-icon{
                transition: transform .7s;
                transform: rotate(360deg);
            }

            & ~ .todolist__add-task-label{

            }
        }
    }

    .todolist__add-task-label{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 8px;
    }
}

.todolist{
    width: 40%;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #ebebeb;
    margin-bottom: 10px;
    padding-bottom: 21px;
    max-height: 455px;
    overflow: hidden;
    //transition: max-height 1s linear;
    

    .todolist__information{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        color: $font-color_secoundary;
        font-weight: 600;
        padding-top: 10px;
        font-family: $font-family_secoundary;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .todolist__current-time{
            font-size: $font-size_m;
            width: 50%;
        }

        .todolist__task-done-info{
            font-weight: 400;
            width: 50%;
            text-align: right;
            text-transform: uppercase;
        }

        .todolist__line-done-percentage{
            width: 100%;
            height: 4px;
            background: linear-gradient(to right, $background_primary 0%, $background_primary 0%, #dadada 0%, #dadada 100%);
            //background: linear-gradient(to right, #68d391 0%, #68d391 33%, #dadada 33%, #dadada 100%);
            margin-top: 10px;
        }
    }

    .todolist__task{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        color: $font-color_secoundary;
        height: 40px;
        background-color: #fff;
        font-size: $font-size_m;
        font-weight: 500;
        font-family: $font-family_primary;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0px;
        position: relative;
        border-bottom: 1px solid #ebebeb;
        overflow: hidden;

        &:last-child{
            border: none;
        }
    
        .todolist__task-text{
            z-index: 1;
            transition: color 200ms ease-in;            
        }

        &:nth-child(11){
            border: none;
        }
    }
}

.todolist__show-more{
    background-color: $background_primary;
    border: none;
    border-radius: 5px;
    width: 10%;
    height: 20px;
    color: $font-color_primary;
    font-size: $font-size_xs;
    font-weight: 500;
    font-family: $font-family_primary;
    cursor: pointer;
    margin-bottom: 15px;
}

.todolist__footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0px;
}

.todolist__copywrite{
    font-size: $font-size_xs;
    color: $font-color_primary;
    position: fixed;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    font-family: $font-family_primary;

    a{
        color: $font-color_secoundary;  
    }
}



